.gradle/
.cxx/
captures/

# Local configuration
local.properties

# Flutter generated
GeneratedPluginRegistrant.java

# Build outputs
build/

# Keystore protection (VERY IMPORTANT)
key.properties
**/*.jks
**/*.keystore

# Android Studio
*.iml
.idea/

# OS files
.DS_Store
Thumbs.db
